body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.get-btn {
  font-size: large;
  background-color: rgb(216, 195, 3);
  color: #030303;
  margin: 5px 5px 5px 5px;
}

.user-box {
  align-items: center;
}

.user-img {
  border: 1px solid white;
  margin: 5px 5px 5px 5px;
}
